.Main__Botton-left {
    display: none;
}

.Main__Botton-Middle-Column-Left {
    display: none;
}

@media only screen and (min-width: 480px) {
    .Main__Botton {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .Catalog__SubMenu-Box {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .Catalog__SubMenu-Filter-Header-Flexbox {
        flex-direction: row;
    }
}

@media only screen and (min-width: 768px) {
    .Main__Botton {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .Catalog__SubMenu-Box {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .Main__Botton-Colums {
        display: flex;
        flex-direction: column;
    }
    .splide__list {
        flex-direction: column;
    }
    .splide__slide {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    .Main__Botton {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .Catalog__SubMenu-Box {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .Main__Botton-Colums {
        display: block;
    }
    .splide__list {
        flex-direction: row;
    }
    .splide__slide {
        width: calc(33.3333% - 1.33333rem);
    }
    .Main__Botton-Middle-Column {
        display: block;
    }
    .Main__Botton-Middle-Column-Right-Tiltle {
        flex-direction: column;
    }
    .DisplayFlex_Browese {
        flex-direction: column;
    }
    .Letter_Browse {
        margin-bottom: 1rem;
    }
    .Select_Most_popular {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 1200px) {
    .Catalog__SubMenu-Box {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .Border_flex_Box-first-Lettle {
        max-width: 17.5rem;
    }
}

@media only screen and (min-width: 1440px) {
    .desktopMenu {
        display: block;
    }
    .Catalog__SubMenu-Box {
        display: none;
    }
    .Main__Botton-left {
        display: block;
    }
    .Main__Botton {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .Main__Botton-Colums {
        display: grid;
    }
    .Main__Botton-Middle-Column-Left {
        display: block;
    }
    .Main__Botton-Middle-Column {
        display: grid;
    }
    .Main__Botton-Middle-Column-Right-Tiltle {
        flex-direction: row;
    }
    .DisplayFlex_Browese {
        flex-direction: row;
    }
    .Letter_Browse {
        margin-right: 2rem;
    }
    #catalogClearFilter, #catalogFilter {
        display: none;
    }
    .Letter_Browse {
        margin-bottom: 0;
    }
    .Select_Most_popular {
        margin-top: 0;
        margin-bottom: 0;
    }
}

