.MyLearning-Box {
    padding-top: 1rem;
    width: 100%;
}

.MyLearning-FlexBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.MyLearning-Header-FlexBox {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.MyLearning-Header-FlexBox > h2 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1.3;
    font-size: 1.625rem;
    margin: 0;
    margin-bottom: 0.5rem;
}


.MyLearning-Btn-Edit {
    cursor: pointer;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: var(--color-primary);
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    background: none;
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    white-space: nowrap;
    border-radius: 4px;
    border-color: transparent;
}

.MyLearning-Btn-Edit::before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-secondary);
    position: absolute;
    inset: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.MyLearning-Btn-Edit-Content {
    font-size: inherit;
    display: inline-block;
    margin: 0;
    font-weight: 700;
}

.MyLearning-TabListBase {
    display: flex;
    position: relative;
    margin-bottom: 0.5rem;
    justify-content: space-between;
}

.MyLearning-TabListBase::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0px;
    z-index: 0;
    background-color: var(--color-text);
}

.MyLearning-TabButton[data-selected] {
    border-bottom-width: 4px;
    border-color: var(--color-primary);
    font-weight: bold;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
}

.MyLearning-TabButton {
    border-image: initial;
    text-decoration: none;
    box-shadow: none;
    text-overflow: ellipsis;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-size-adjust: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    cursor: pointer;
    padding: 0.75rem 1.5rem 11px;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    z-index: 1;
    border-radius: 0px;
    color: var(--color-text);
    border-style: none none solid;
    border-bottom-width: 1px;
    border-top-width: initial;
    border-left-width: initial;
    border-right-width: initial;
    border-color: var(--color-text);
    background: none;
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
}

.MyLearning-TabButton:hover {
    background-color: rgba(16, 22, 47, 0.04);
}

.MyLearning-TabButton > span {
    font-size: inherit;
    margin: 0px;
    gap: 0.5rem;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.MyLearning__Option-FlexBox {
    justify-content: center;
    align-items: center;
    display: none;
}

.MyLearning__Option-Box {
    display: flex;
    width: 100%;
}

.MyLearning__ListEl {
    counter-reset: section 0;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.MyLearning__ListEl-Box {
    border: 1px solid var(--color-secondary);
    background: white;
}

.MyLearning__RowEl-li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    grid-auto-rows: minmax(1.5rem, max-content);
    grid-template-columns: minmax(0px, 1fr) max-content;
    flex-direction: column;
    background-color: var(--color-background);
    border: none;
    border-radius: 2px;
    display: flex;
}

.MyLearning__RowEl-div {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: inherit;
    grid-auto-rows: minmax(1.5rem, max-content);
    grid-template-columns: minmax(0px, 1fr) max-content;
    flex-direction: column;
    display: grid;
    gap: 0.5rem;
}

.MyLearning__List-Btn {
    cursor: pointer;
    background: none transparent;
    text-decoration: none;
    border: none;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    display: inline-block;
    position: relative;
    color: var(--color-text);
    padding: 1.5rem 1.5rem 1rem;
    width: 100%;
}

.MyLearning__List-Btn::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-color: var(--color-primary);
    border-radius: 4px;
}

.MyLearning__List-FlexBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.MyLearning__List-FlexBox-Header {
    display: flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
}

.MyLearning__List-Header-Span {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    font-size: 0.875rem;
    margin: 0px 0px 0.5rem;
    align-self: flex-start;
    font-family: Suisse, Apercu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-align: justify;
}

.MyLearning__List-Header-H3 {
    font-weight: 700;
    line-height: 1.3;
    font-size: 1.25rem;
    margin: 0px;
    text-align: left;
}

.MyLearning__List-Progress-FlexBox {
    display: flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    flex-direction: column;
    align-items: flex-end;
}

.MyLearning__List-Progress-Span {
    margin-bottom: 2px;
    font-family: Suisse, Apercu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-align: right;
}

.MyLearning__List-Progress-Box {
    width: 96px;
    height: 8px;
}

.MyLearning__List-Progress-Wrapper {
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    display: flex;
    position: relative;
    height: 8px;
    border-radius: 4px;
    background-color: transparent;
}

.MyLearning__List-Progress-Svg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.MyLearning__List-Progress-Icon-Box {
    padding: 0.5rem;
    margin-left: 0.75rem;
}

.MyLearning__Dropdown-Header-GridBox {
    display: grid;
    width: 100%;
    align-items: center;
    grid-template-columns: minmax(0px, 1fr);
    column-gap: 0.25rem;
}

.MyLearning__Dropdown-Header-GridBox > span {
    font-size: inherit;
    display: inline-block;
    text-overflow: ellipsis;
    margin: 0px;
    overflow: hidden;
    font-weight: 700;
    white-space: nowrap;
}

.MyLearning__Dropdown-Content-List-Box {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.MyLearning__Dropdown-Content-List-Link {
    cursor: pointer;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--color-secondary);
    font-weight: 700;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    display: flex;
    background: none;
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    white-space: nowrap;
    border-radius: 4px;
    border-color: transparent;
    padding: 0.5rem;
}

.MyLearning__Dropdown-Content-List-Link::before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-secondary);
    position: absolute;
    inset: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.MyLearning__Dropdown-Content-List-Link:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    color: var(--color-secondary);
    background-color: var(--color-background-hover);
}

.MyLearning__Dropdown-Content-List-Icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: var(--color-black);
    background-color: var(--color-white);
    border-color: var(--color-black);
    border-radius: 999px;
}

.MyLearning__Dropdown-Content-List-Title-FlexBox {
    display: flex;
    flex: 0 0 auto;
    margin-right: 1.5rem;
    margin-left: 1rem;
    width: 64px;
    height: 32px;
    align-items: center;
}

.MyLearning__Dropdown-Content-List-Title-FlexBox > p {
    font-size: 0.875rem;
    margin: 0px;
    font-weight: lighter;
    line-height: 1.2;
    text-transform: capitalize;
    white-space: normal;
}

.MyLearning__Dropdown-Content-List-FlexBox {
    display: flex;
    flex: 1 1 0%;
    overflow: hidden;
    height: 32px;
    align-items: center;
}

.MyLearning__Dropdown-Content-List-FlexBox > p {
    text-overflow: ellipsis;
    font-size: 0.875rem;
    margin: 0px;
    font-weight: lighter;
    line-height: 1.2;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.MyLearning__Dropdown-Footer-FlexBox {
    display: flex;
    width: inherit;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.MyLearning__Dropdown-Footer-FlexBox > span {
    display: inline-block;
    margin: 0px;
    width: inherit;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(16, 22, 47, 0.63);
}

.MyLearning__Dropdown-Footer-Btn-Start {
    cursor: pointer;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    color: var(--color-primary);
    width: inherit;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    background: none transparent;
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    white-space: nowrap;
    border-radius: 4px;
    border-color: var(--color-primary);
    border: 2px solid;
}

.MyLearning__Dropdown-Footer-Btn-Start::before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-secondary);
    position: absolute;
    inset: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.MyLearning__Dropdown-Footer-Btn-Start:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    background-color: var(--color-background-hover);
}

.MyLearning__Dropdown-Nav-FlexBox {
    display: flex;
    margin-top: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
}

.MyLearning__Dropdown-Nav-PinToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-width: initial;
    border-bottom-style: none;
    padding-bottom: 0px;
    border-bottom-color: #E0E0E0;
}

.MyLearning__Dropdown-Nav-Btn-PinToTop {
    cursor: pointer;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    color: var(--color-secondary);
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    background: none;
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    white-space: nowrap;
    border-radius: 4px;
    border-color: transparent;
}

.MyLearning__Dropdown-Nav-Btn-PinToTop::before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-secondary);
    position: absolute;
    inset: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.MyLearning__Dropdown-Nav-Btn-PinToTop:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    color: var(--color-secondary);
    background-color: var(--color-background-hover);
}

.MyLearning__Dropdown-Nav-View-Box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MyLearning__Dropdown-Nav-View {
    cursor: pointer;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    color: var(--color-primary);
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-right: 1rem;
    background: none;
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    white-space: nowrap;
    border-radius: 4px;
    border-color: transparent;
}

.MyLearning__Dropdown-Nav-View::before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-secondary);
    position: absolute;
    inset: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.MyLearning__Dropdown-Nav-View:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    color: var(--color-primary);
    background-color: var(--color-background-hover);
}

.MyLearning__Dropdown-Nav-Start {
    cursor: pointer;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    color: var(--color-background);
    width: auto;
    background-color: var(--color-primary);
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    border-color: transparent;
    white-space: nowrap;
    border-radius: 4px;
}

.MyLearning__Dropdown-Nav-Start::before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-secondary);
    position: absolute;
    inset: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.MyLearning__Dropdown-Nav-Start:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    color: var(--color-background);
    background-color: #5533FF;
}

.MyLearning__Option-Select {
    width: 100%;
    height: 30px;
}

.Course-Box-Bar {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    width: 67%;
    box-shadow: 0.5px 0 0 0.5px var(--color-border);
    transition: width 0.5s;
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    color: var(--color-background);
    background-color: var(--color-text);
}

.MyLearning-Complete-FlexBox {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

.MyLearning-Complete-Header-Box {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    align-items: flex-start;
}

.MyLearning-Complete-Header {
    font-weight: 700;
    line-height: 1.2;
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1.3;
    font-size: 1.625rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.MyLearning-Complete-Content {
    font-weight: 700;
    line-height: 1.3;
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    max-width: 446px;
    margin-bottom: 1.5rem;
}