main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}

.NotFound__Container {
    width: 60%;
    height: 100%;
}

.NotFound__Content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

.Error {
    width: 512px;
    height: 230px;
    object-fit: cover;
}

.NotFound__Content-Text {
    text-align: center;
    position: relative;
}

.NotFound__Content-Text > h1 {
    font-size: 3.5em;
    line-height: 1em;
}

.Pharagraph__Top {
    font-size: 2em;
}

.Pharagraph__Bottom {
    font-size: 1em;
    margin-top: 1.5em;
    position: relative;
    margin-bottom: 40px;
}

.NotFound__Link {
    text-decoration: none;
    position: relative;
    color: var(--color-black);
    padding: 10px 20px; 
    margin-top: 40px;
    color: var(--color-white);
}

.NotFound__Link:hover {
    color: var(--color-black);
}

.NotFound__Link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    z-index: -1;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.NotFound__Link:hover::before {
    background-color: var(--color-background-hover);
    border: 1px solid var(--color-border);
}