* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-background: #fff;
    --color-background-current: #FFF0E5;
    --color-text: #10162F;
    --elements-headerZ: 15;
    --headerHeight: 4rem;
    --color-border: #10162F;
    --color-primary: #3A10E5;
    --color-secondary: #10162F;
    --color-background-hover: rgba(16, 22, 47, 0.12);
    --color-background-selected: rgba(16, 22, 47, 0.04);
    --color-blue-100: #D3F2FF;
}

body {
    margin: 0;
    font-family: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-text);
    text-align: left;
    background-color: var(--color-background-current);
}

button, input {
    overflow: visible;
}

span {
    font-family: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.all-display {
    background-color: var(--color-background-current);
    color: var(--color-text);
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.ml-auto {
    margin-left: auto;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 { 
    margin-right: 10px;
}

.mt-auto {
    margin-top: auto;
}

.pb-05rem {
    padding-bottom: 0.5rem;
}

.FlexBox__Column {
    display: flex;
    flex-direction: column;
}

.FlexBox__Align-Center {
    display: flex;
    align-items: center;
}

.FlexBox__Two-Ele-Wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.FlexBox__Two-Ele {
    display: flex;
    justify-content: space-between;
}

.FlexBox__Column-Width {
    display: flex;
    max-width: 500px;
    flex-direction: column;
}
