* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-background: #fff;
    --color-background-current: #FFF0E5;
    --color-text: #10162F;
    --elements-headerZ: 15;
    --headerHeight: 4rem;
    --color-border: #10162F;
    --color-primary: #3A10E5;
    --color-secondary: #10162F;
    --color-background-hover: rgba(16, 22, 47, 0.12);
}

body {
    margin: 0;
    font-family: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-text);
    text-align: left;
    background-color: var(--color-background-current);
}

.all-display {
    background-color: var(--color-background-current);
    color: var(--color-text);
    min-height: 100vh;
    position: relative;
    z-index: 1;
}




