div.login {
    margin-left: 42%;
    margin-bottom: 80px;
}

div.login .title {
    margin-top: 100px;
}
div.login .submit input {
    font-weight: bolder;
    background-color: blue;
    color: aliceblue;
    border-color: blue;
    border-radius: 5px;
    width: 80px;
    height: 40px;
}

input.username, input.password {
    width: 360px;
    height: 50px;
    border-radius: 4px;
    padding-left: 6px;
}

.login-method {
    display: flex;
    flex-direction: row;
}
.login-method div {
    border-style: solid;
    border-width: 1px;
    margin-right: 10px;
}

button.login-method-button{
    border-radius: 4px;
    background-color: white;
}