div.login{
    margin-left: 36%;
    margin-bottom: 80px;
}

div.login .title{
    margin-top: 100px;
}
div.login .submit input{
    font-weight: bolder;
    background-color: blue;
    color: aliceblue;
    border-color: blue;
    width: 80px;
    height: 40px;
}

input.username, input.password{
    width: 360px;
    height: 50px;
}

.login-method{
    display: flex;
    flex-direction: row;
}
.login-method div{
    border-style: solid;
    border-width: 1px;
    margin-right: 10px;
}