@media only screen and (min-width: 1200px) {
    :root {
        --headerHeight: 5rem;
    }
    .Box__Header-Nav, .Container__Box {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .Box__Header-Normal, .Box__Header-Animation {
        display: block;
    }
    .Nav__Ele:first-of-type {
        margin-left: 0px;
    }
    .Nav__Ele-Link {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-bottom: 1px;
    }
    .Container {
        gap: 1.5rem;
    }
    .SideBar__Box {
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1201px) {
    .Box__Header-Nav, .Container__Box {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .Box__Header-Nav, .Container__Box {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
