@media only screen and (min-width: 1440px) {
    .Layout__Grid-Item-Left {
        grid-column-end: span 8;
    }
    .Layout__Grid-Item-Right {
        grid-column-end: span 4;
        grid-column-start: 9;
    }.Layout__Grid-Item-Right-Child1 {
        flex-direction: row;
        align-items: center;
    }
    .Related__Topics {
        justify-content: end;
    }
    .Cotainer__SkillPath {
        display: block;
    }
    .Content__Item-List-Ele {
        grid-column-end: span 6;
    }    
    .Footer__Container {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .Footer__Layout-Grid {
        padding: 2rem 0;
    }
    .Footer__End {
        align-items: baseline;
        display: flex;
        justify-content: space-between;
    }
    .Footer__End-List {
        justify-content: flex-start;
        display: inline-flex;
    }
    .Footer__End-MadeWith {
        display: inline-block;
        text-align: right;
    }
    .Footer__Layout-Grid-Column {
        grid-column-end: span 6;
    }
    .Company {
        grid-column-end: span 4;
    }
    .Resources {
        order: 2;
        grid-column-end: span 4;
    }
    .Support {
        margin-top: 1.5rem;
        display: unset;
    }
    .Plans {
        order: 3;
        grid-column-end: span 4;
    }
    .Community {
        margin-top: 1.5rem;
    }
    .Footer__Logo {
        display: block;
    }
    .Footer__Logo-Box {
        display: flex;
        flex-direction: column;
    }
    .Footer__List-Left-Item {
        margin: 0.15rem 0;
    }
    .Footer__H2 {
        font-size: 1rem;
        margin-top: 0;
    }
    .Footer__Logo-Box > span {
        font-size: 1rem;
        margin-top: 0;
    }
    .Footer__Layout-Line {
        padding-left: 4rem !important;
        border-left: 1px solid var(--color-border);
        border-top: none;
        margin-left: 0;
        margin-top: 0;
        padding-left: 2rem;
        padding-top: 0;
    }
    .Subjects,
    .Languages {
        grid-column-end: span 4;
    }
    .Career {
        grid-column-end: span 4;
    }
    .Footer__List-Right {
        max-height: none;
    }
    .Footer__List-Right-Item {
        margin: 0.15rem 0;
    }
    .Mobile {
        display: unset;
    }
    .Mobile__Box {
        width: 90%;
    }
    .Profile__Wrapper {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .Profile__Wrapper-MarginTop {
        margin-bottom: 6rem;
    }
    .Profile__Container-Layout-Left {
        grid-column-end: span 3;
    }
    .Profile__Container-Layout-Right {
        grid-column-end: span 6;
    }
    .Button__EditProfile {
        display: unset;
    }
}

@media only screen and (min-width: 1200px) {
    :root {
        --headerHeight: 5rem;
    }
    .Box__Header-Nav, .Container__Box {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .Box__Header-Normal, .Box__Header-Animation {
        display: block;
    }
    .Nav__Ele:first-of-type {
        margin-left: 0px;
    }
    .Nav__Ele-Link {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-bottom: 1px;
    }
    .Container {
        gap: 1.5rem;
    }
    .SideBar__Box {
        display: block;
    }
    .SideBar__Footer {
        margin-bottom: 0;
        border-radius: 16px;
        width: 288px;
    }
    .Content__Item-Box-Grid {
        column-gap: 1.5rem;
    }
    .Layout__Grid {
        grid-column-gap: 1rem;
        column-gap: min(calc(100% / 11), 1rem);
    }
    .Layout__Grid-Item-Left {
        grid-row-end: span 6;
        grid-column-end: span 8;
    }
    .Layout__Grid-Item-Right {
        grid-column-end: span 4;
    }
    .Layout__Grid-Item-Right-Child1 {
        flex-direction: row;
        align-items: center;
    }
    .Related__Topics {
        justify-content: end;
    }
    .Cotainer__SkillPath {
        display: block;
    }
    .Cotainer__SkillPath-Item {
        grid-column-end: span 4;
    }
    .Content__Item-List-Ele {
        grid-column-end: span 6;
    }
    .Footer__Container {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .Footer__Layout-Grid {
        padding: 2rem 0;
    }
    .Footer__End {
        align-items: baseline;
        display: flex;
        justify-content: space-between;
    }
    .Footer__End-List {
        justify-content: flex-start;
        display: inline-flex;
    }
    .Footer__End-MadeWith {
        display: inline-block;
        text-align: right;
    }
    .Footer__Layout-Grid-Column {
        grid-column-end: span 6;
    }
    .Company {
        grid-column-end: span 4;
    }
    .Resources {
        order: 2;
        grid-column-end: span 4;
    }
    .Support {
        margin-top: 1.5rem;
        display: unset;
    }
    .Plans {
        order: 3;
        grid-column-end: span 4;
    }
    .Community {
        margin-top: 1.5rem;
    }
    .Footer__Logo {
        display: block;
    }
    .Footer__Logo-Box {
        display: flex;
        flex-direction: column;
    }
    .Footer__List-Left-Item {
        margin: 0.15rem 0;
    }
    .Footer__H2 {
        font-size: 1rem;
        margin-top: 0;
    }
    .Footer__Logo-Box > span {
        font-size: 1rem;
        margin-top: 0;
    }
    .Footer__Layout-Line {
        padding-left: 4rem;
        border-left: 1px solid var(--color-border);
        border-top: none;
        margin-left: 0;
        margin-top: 0;
        padding-left: 2rem;
        padding-top: 0;
    }
    .Subjects,
    .Languages {
        grid-column-end: span 4;
    }
    .Career {
        grid-column-end: span 4;
    }
    .Footer__List-Right {
        max-height: none;
    }
    .Footer__List-Right-Item {
        margin: 0.15rem 0;
    }
    .Mobile {
        display: unset;
    }
    .Mobile__Box {
        width: 90%;
    }
    .Profile__Wrapper {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .Profile__Wrapper-MarginTop {
        margin-bottom: 6rem;
    }
    .Profile__Container-Layout-Left {
        grid-column-end: span 3;
    }
    .Profile__Container-Layout-Right {
        grid-column-end: span 6;
    }
    .Button__EditProfile {
        display: unset !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1201px) {
    .Box__Header-Nav, .Container__Box {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .Layout__Grid-Item-Right-Child1 {
        flex-direction: row;
        align-items: center;
    }
    .Related__Topics {
        justify-content: end;
    }
    .Cotainer__SkillPath-Item {
        grid-column-end: span 6;
    }
    .Content__Item-List-Ele {
        grid-column-end: span 6;
    }    
    .Footer__Container {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .Footer__Layout-Grid {
        padding: 2rem 0;
    }
    .Company {
        grid-column-end: span 4;
    }
    .Resources {
        order: 2;
        grid-column-end: span 4;
    }
    .Support {
        margin-top: 1.5rem;
        display: unset;
    }
    .Plans {
        order: 3;
        grid-column-end: span 4;
    }
    .Community {
        margin-top: 1.5rem;
    }
    .Footer__Logo {
        display: block;
    }
    .Footer__Logo-Box {
        display: flex;
        flex-direction: column;
    }
    .Footer__List-Left-Item {
        font-size: 1rem;
        margin: 0.25rem 0;
    }
    .Footer__H2 {
        font-size: 1rem;
        margin-top: 0;
    }
    .Footer__Logo-Box > span {
        font-size: 1rem;
        margin-top: 0;
    }
    .Footer__Layout-Line {
        padding-top: 2rem;
    }
    .Subjects,
    .Languages {
        grid-column-end: span 4;
    }
    .Career {
        grid-column-end: span 4;
    }
    .Footer__List-Right-Item {
        font-size: 1rem;
        margin: 0.25rem 0;
    }
    .Mobile {
        display: unset;
    }
    .Profile__Wrapper {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .Profile__Wrapper-MarginTop {
        margin-bottom: 6rem;
    }
    .Profile__Container-Layout-Left {
        grid-column-end: span 4;
    }
    .Profile__Container-Layout-Right {
        grid-column-end: span 8;
    }
    .Button__EditProfile {
        display: unset;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .Box__Header-Nav, .Container__Box {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .Layout__Grid-Item-Left-Child1 {
        flex-direction: row;
        align-items: center;
    }
    .Layout__Grid-Item-Right-Child1 {
        flex-direction: row;
        align-items: center;
    }
    .Related__Topics {
        justify-content: end;
    }
    .Cotainer__SkillPath-Item {
        grid-column-end: span 12;
    }
    .Footer__Container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .Profile__Wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
