@media only screen and (min-width: 1440px) {
    .Layout__Grid-Item-Left {
        grid-column-end: span 8;
    }
    .Layout__Grid-Item-Right {
        grid-column-end: span 4;
        grid-column-start: 9;
    }.Layout__Grid-Item-Right-Child1 {
        flex-direction: row;
        align-items: center;
    }
    .Related__Topics {
        justify-content: end;
    }
    .Cotainer__SkillPath {
        display: block;
    }
    .Content__Item-List-Ele {
        grid-column-end: span 6;
    }    
}

@media only screen and (min-width: 1200px) {
    :root {
        --headerHeight: 5rem;
    }
    .Box__Header-Nav, .Container__Box {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .Box__Header-Normal, .Box__Header-Animation {
        display: block;
    }
    .Nav__Ele:first-of-type {
        margin-left: 0px;
    }
    .Nav__Ele-Link {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-bottom: 1px;
    }
    .Container {
        gap: 1.5rem;
    }
    .SideBar__Box {
        display: block;
    }
    .SideBar__Footer {
        margin-bottom: 0;
        border-radius: 16px;
        width: 288px;
    }
    .Content__Item-Box-Grid {
        column-gap: 1.5rem;
    }
    .Layout__Grid {
        grid-column-gap: 1rem;
        column-gap: min(calc(100% / 11), 1rem);
    }
    .Layout__Grid-Item-Left {
        grid-row-end: span 6;
        grid-column-end: span 8;
    }
    .Layout__Grid-Item-Right {
        grid-column-end: span 4;
    }
    .Layout__Grid-Item-Right-Child1 {
        flex-direction: row;
        align-items: center;
    }
    .Related__Topics {
        justify-content: end;
    }
    .Cotainer__SkillPath {
        display: block;
    }
    .Cotainer__SkillPath-Item {
        grid-column-end: span 4;
    }
    .Content__Item-List-Ele {
        grid-column-end: span 6;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1201px) {
    .Box__Header-Nav, .Container__Box {
        padding-left: 4rem;
        padding-right: 4rem;
    }.Layout__Grid-Item-Right-Child1 {
        flex-direction: row;
        align-items: center;
    }
    .Related__Topics {
        justify-content: end;
    }
    .Cotainer__SkillPath-Item {
        grid-column-end: span 6;
    }
    .Content__Item-List-Ele {
        grid-column-end: span 6;
    }    
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .Box__Header-Nav, .Container__Box {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .Layout__Grid-Item-Left-Child1 {
        flex-direction: row;
        align-items: center;
    }
    .Layout__Grid-Item-Right-Child1 {
        flex-direction: row;
        align-items: center;
    }
    .Related__Topics {
        justify-content: end;
    }
    .Cotainer__SkillPath-Item {
        grid-column-end: span 12;
    }
}
