.Container__Box-Layout {
    display: flex;
}

.Container__Box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1440px;
}

.Container {
    margin-top: 0.75rem;
    display: flex;
}

.SideBar__Box {
    display: flex;
    margin-right: 0.75rem;
    padding-bottom: 1.5rem;
    width: 288px;
    align-self: flex-start;
    position: sticky;
    top: calc(var(--headerHeight) + 16px);
    flex-direction: column;
    align-items: flex-start;
}

.SideBar__Nav {
    width: 100%;
}

.SideBar__List {
    padding-left: 1.5rem;
    display: inline-block;
    width: 100%;
    background-color: inherit;
    list-style: none;
    border: 1px solid var(--color-text);
    padding: 0;
    min-width: 192px;
    border-radius: 2px;
    background-color: var(--color-background);
    position: relative;
    z-index: 1;
    margin: 0;
    border: none;
    background-color: var(--color-background-current);
}

.SideBar__Button {
    border: none;
    background: none;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
    box-shadow: none;
    color: var(--color-text);
    cursor: pointer;
    transition: color 150ms linear, background-color 150ms linear, border-color 150ms linear;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    align-items: center;
    display: flex;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: var(--color-background-selected);
    font-size: 1rem;
    min-height: 48px;
    font-size: 1.125rem;
}

.SideBar__Button:hover {
    color: var(--color-primary);
    font-weight: 700;
}


.Page__Current:first-child::before {
    min-height: 48px;
    content: '';
    background-color: var(--color-text) !important;
    display: inline-block;
    width: 6px;
    position: absolute;
    left: 0;
    background-color: inherit;
}

.SideBar__Button::after {
    content: '';
    border: 2px solid var(--color-text);
    border-color: var(--color-primary);
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    z-index: -1;
    opacity: 0;
    border-radius: 4px;
}

.SideBar__Button-Img {
    width: 24px;
    height: 24px;
    margin-right: 0.75rem;
}

.SideBar__Button-Upgrade {
    margin-left: 0.5rem;
    margin-top: 4px;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-family: "Suisse", "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: flex;
    width: min-content;
    border-radius: 16px;
    color: var(--color-background);
    background-color: rgba(16, 22, 47, 0.75);
    font-size: 10px;
    height: 1rem;
}

.SideBar__Footer {
    display: flex;
    border: solid;
    border-width: 1px;
    border-color: var(--color-secondary);
    background: #FFFAE5;
    padding: 1.5rem;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    border-radius: 8px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.SideBar__Footer-Content {
    display: flex;
    gap: 0.25rem;
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.SideBar__Footer-Content > h2 {
    font-weight: 600;
    line-height: 1.2;
    font-size: 2.75rem;
    line-height: 1.3;
    font-size: 1.25rem;
    margin: 0;
}

.SideBar__Footer > button {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
    box-shadow: none;
    color: var(--color-text);
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    border: 2px solid var(--color-secondary);
    border-color: transparent;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    border-radius: 4px;
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    color: var(--color-background);
    background-color: var(--color-secondary);
    align-self: stretch;
}

.SideBar__Footer > button:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    color: var(--color-background);
    background-color: rgba(16, 22, 47, 0.86);
}

.Content {
    padding-top: 1rem;
    width: 100%;
}

.Content__Box {
    min-height: calc(100vh - var(--headerHeight));
}

.Content__Item {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.Content__Item-Header {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.Content__Item-Header > h2 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 2.75rem;
    line-height: 1.3;
    font-size: 1.625rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.Content__Item-Progress-Wrapper {
    --color-background-current: var(--color-white);
    color: var(--color-text);
    border: none;
    border-color: var(--color-navy);
    padding: 0;
    background-color: var(--color-background-current);
    margin-bottom: 1rem;
    border-radius: 16px;
}

.Content__Item-Progress-Bar {
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-navy);
    background-color: var(--color-gray-100);
    overflow: hidden;
    display: flex;
    position: relative;
    height: 36px;
    border-radius: 16px;
    background-color: transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.Content__Item-Progress-Bar > label {
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 1px;
    height: 1px;
    position: absolute;
    left: -9999px;
    color: transparent;
    margin: 0;
}

.Content__Item-Progress-Bar > .bgr {
    width: 100%;
    background-repeat: repeat-x;
    background-image: url(../../img/zigzag.png);
}

.Content__Item-Container {
    border: 1px solid var(--color-secondary);
    border-top: none;
    border-bottom: none;
    background-color: var(--color-background);
}

.Content__Item-Box {
    padding: 0;
    width: 100%;
}

.Content__Item-Box-Grid {
    display: grid;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    grid-template-rows: repeat(3, min-content);
}

.Content__Item-Box-Flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.Content__Item-Box-Flex > p:nth-child(1) {
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-size: 0.875rem;
    margin: 0;
    font-family: "Suisse", "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.Content__Item-Box-Flex > h3:nth-child(2) {
    font-weight: 600;
    line-height: 1.3;
    font-size: 2.125rem;
    line-height: 1.3;
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.Content__Item-Box-Flex > p:nth-child(3) {
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    margin: 0;
}

.Content__Item-Button {
    display: flex;
    border: 1px solid var(--color-secondary);
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    color: var(--color-text);
}

.Content__Item-Button > a:first-child {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
    box-shadow: none;
    color: var(--color-text);
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    border: 2px solid var(--color-secondary);
    border-color: transparent;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    border-radius: 4px;
    border-color: transparent;
    color: var(--color-secondary);
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
    margin-right: 0;
}

.Content__Item-Button > a:first-child:before {
    border-color: var(--color-secondary);
    content: "";
    -webkit-transition: opacity 150ms linear;
    transition: opacity 150ms linear;
    border: 2px solid var(--color-secondary);
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.Content__Item-Button > a:first-child:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    color: var(--color-secondary);
    background-color: var(--color-background-hover);
    text-decoration: none;
}

.Content__Item-Button > a:last-child {
    cursor: pointer;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    min-width: 40px;
    height: 52px;
    color: var(--color-background);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 0px;
    background: none;
    background-color: rgb(58, 16, 229);
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    border-color: transparent;
    white-space: nowrap;
}

.Content__Item-Button > a:last-child::before {
    border-color: var(--color-primary);
}

.Content__Item-Button > a:last-child::before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-secondary);
    position: absolute;
    inset: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.Content__Item-Button > a:last-child:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    color: var(--color-background);
    background-color: #5533FF;
}

.Content__Item-Icon {
    display: flex;
    padding: 0.25rem;
    margin-left: 0.75rem;
    border-radius: 999px;
    background-color: #FFFFFF;
}

.Content__Item-SVG {
    width: 16px;
    height: 16px;
    color: #3A10E5;
}

.Button__Component-View {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
    box-shadow: none;
    color: var(--color-text);
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    border: 2px solid var(--color-secondary);
    border-color: transparent;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    border-radius: 4px;
    border-color: transparent;
    color: var(--color-primary);
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    max-width: 275px;
    height: 40px;
    column-gap: 0.5rem;
}

.Button__Component-View:before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-secondary);
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.Button__Component-View:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    color: var(--color-primary);
    background-color: var(--color-background-hover);
}

.Layout__Grid {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    width: 100%;
    margin-top: 0.5rem;
    row-gap: 1rem;
}

.Layout__Grid-Item-Left {
    grid-column-end: span 12;
    grid-template-columns: minmax(0, 1fr);
    display: grid;
}

.Layout__Grid-Item-Left-Box {
    display: grid;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border);
    padding: 2rem;
    border-radius: 16px;
    height: fit-content;
    background-color: var(--color-background);
    grid-template-rows: min-content min-content 1fr;
}

.Layout__Grid-Item-Left-Child1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.5rem;
}

.Layout__Grid-Item-Left-Child1 > span {
    font-size: inherit;
    display: inline-block;
    font-weight: 600;
    line-height: 1.3;
    font-size: 1.25rem;
    margin: 0;
}

.Layout__Grid-Item-Left-Child2 {
    margin-top: 0.75rem;
    width: 100%;
    height: 1px;
    background-color: rgba(16, 22, 47, 0.12);
}

.Flex__Box-Width {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Skills__Content {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
    max-width: 408px;
    text-align: center;
}

.Skills__Content > span:nth-child(1) {
    display: inline-block;
    line-height: 1.5;
    font-size: 1rem;
    margin: 0px 0px 0.25rem;
    font-weight: 600;
}

.Skills__Content > span:nth-child(2) {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    font-size: 0.95rem;
    margin: 0px 0px 0.5rem;
}

.Skills__Content > a {
    border: none;
    padding: 0px;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    display: inline;
    position: relative;
    color: var(--color-primary);
    background-color: transparent;
    text-decoration: underline;
}

.Skills__Content > a:hover {
    cursor: pointer;
    text-decoration: none;
}

.Layout__Grid-Item-Right {
    grid-column-end: span 12;
    grid-template-columns: minmax(0, 1fr);
    display: grid;
    grid-column-end: span 12;
}

.Layout__Grid-Item-Right-Box {
    display: grid;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border);
    padding: 2rem;
    border-radius: 16px;
    height: fit-content;
    background-color: var(--color-background);
    grid-template-rows: min-content 1fr;
}

.Layout__Grid-Item-Right-Child1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.5rem;
}

.Layout__Grid-Item-Right-Child1 > span {
    font-size: inherit;
    display: inline-block;
    font-weight: 600;
    line-height: 1.3;
    font-size: 1.25rem;
    margin: 0;
}

.Button__SetTarget {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
    box-shadow: none;
    color: var(--color-text);
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    border: 2px solid var(--color-border);
    border-color: transparent;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    border-radius: 4px;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    border-color: var(--color-primary);
    color: var(--color-primary);
    background-color: transparent;
    margin-top: 1rem;
}

.Button__SetTarget:before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-border);
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.Button__SetTarget:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    background-color: var(--color-background-hover);
}

.Button__Edit {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
    box-shadow: none;
    color: var(--color-text);
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    border: 2px solid var(--color-secondary);
    border-color: transparent;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    border-radius: 4px;
    border-color: transparent;
    color: var(--color-primary);
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    margin-left: 0.25rem;
}

.Button__Edit:before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-border);
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.Button__Edit:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    color: var(--color-primary);
    background-color: var(--color-background-hover);
}

.Flex__Box-Height {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Layout__Grid-Item-Right-Box > span {
    font-size: inherit;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    margin: 0;
}


.Button__ViewAchievements {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
    box-shadow: none;
    color: var(--color-text);
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    border: 2px solid var(--color-secondary);
    border-color: transparent;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    border-radius: 4px;
    border-color: transparent;
    color: var(--color-secondary);
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
}

.Button__ViewAchievements:before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-secondary);
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.Button__ViewAchievements:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    color: var(--color-secondary);
    background-color: var(--color-background-hover);
}

.Related__Topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.Related__Topics > span {
    font-size: inherit;
    display: inline-block;
    margin: 0px 0.5rem 0px 0px;
    font-weight: 600;
}

.Related__Topics > ul {
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    list-style-type: none;
}

.Related__Topics a {
    border: none;
    padding: 0px;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    display: inline;
    position: relative;
    color: var(--color-primary);
    background-color: transparent;
    text-decoration: underline;
    margin-right: 0.5rem;
}

.Related__Topics a:hover {
    cursor: pointer;
    text-decoration: none;
}

.Style__Text {
    font-size: inherit;
    display: inline-block;
    margin: 0;
    margin-right: 0.5rem;
}

.Cotainer__SkillPath {
    display: none;
}

.Cotainer__SkillPath-List {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    width: 100%;
    padding-left: 0;
    row-gap: 1.5rem;
    grid-column-gap: 2rem;
    column-gap: min(calc(100% / 11), 2rem);
}

.Cotainer__SkillPath-Item {
    grid-column-end: span 12;
    grid-template-columns: minmax(0, 1fr);
    display: grid;
    min-height: 302px;
}

.Cotainer__SkillPath-Item > a {
    border: none;
    padding: 0;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    display: inline-block;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.Cotainer__SkillPath-Item > a:before {
    content: '';
    border: 2px solid var(--color-secondary);
    border-color: var(--color-primary);
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-radius: 4px;
}

.Cotainer__SkillPath-Item-CardWrapper {
    --color-background-current: var(--color-white);
    color: var(--color-text);
    border: 1px solid var(--color-secondary);
    border-color: var(--color-border);
    padding: 0;
    overflow: hidden;
    display: flex;
    height: 100%;
    background-color: var(--color-background-current);
    flex-direction: column;
    border-radius: 4px;
    transition: box-shadow 200ms ease, transform 200ms ease;
    box-shadow: -5px 5px var(--color-background-current), -5px 5px 0 1px var(--color-black);
    position: relative;
}

.Cotainer__SkillPath-Item-CardWrapper:hover {
    transform: translate(4px, -4px);
    box-shadow: -8px 8px 0 currentColor;
}

.Cotainer__SkillPath-Header {
    --color-background-current: var(--color-blue-100);
    color: var(--color-text);
    background-color: var(--color-background-current);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    box-shadow: inset 0 0 0 1px var(--color-white);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.Cotainer__SkillPath-Header > span {
    font-size: inherit;
    display: inline-block;
    margin: 0;
    font-family: "Suisse", "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 0.875rem;
}

.Cotainer__SkillPath-GridBox {
    display: grid;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    height: 100%;
    grid-auto-flow: column;
}

.Cotainer__SkillPath-GridBox h3 {
    font-weight: 600;
    line-height: 1.3;
    font-size: 2.125rem;
    line-height: 1.3;
    font-size: 1.25rem;
    margin: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
}

.Cotainer__SkillPath-GridBox span {
    font-size: inherit;
    display: inline-block;
    text-overflow: ellipsis;
    font-weight: 400;
    line-height: 1.5;
    font-size: 0.875rem;
    margin: 0;
    overflow: hidden;
}

.CheckerDense-Box {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    height: 0;
    position: relative;
}

.CheckerDense {
    width: 100%;
    height: 100%;
    margin-top: -1px;
    display: flex;
    height: 1px;
    position: absolute;
}

.Style__Text-Span {
    font-size: inherit;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    font-size: 0.875rem;
    margin: 0;
}

.FlexBox__Align-Center > span,
.Hours > span {
    font-size: inherit;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    font-size: 0.875rem;
    margin: 0;
    padding-left: 0.25rem;
    white-space: nowrap;
}

.ViewMore {
    display: flex;
    margin-top: 1.5rem;
    justify-content: center;
}

.ViewMore__Button {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
    box-shadow: none;
    color: var(--color-text);
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    border: 2px solid var(--color-secondary);
    border-color: transparent;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    border-radius: 4px;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    border-color: var(--color-primary);
    color: var(--color-primary);
    background-color: transparent;
    max-width: fit-content;
}

.ViewMore__Button:before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-secondary);
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.ViewMore__Button:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    background-color: var(--color-background-hover);
}

.ViewMore span {
    font-size: inherit;
    display: inline-block;
    margin: 0;
    margin-right: 0.5rem;
}

.Content__Item-List {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    width: 100%;
    padding: 0;
    row-gap: 1rem;
    grid-column-gap: 1rem;
    -webkit-column-gap: min(calc(100% / 11), 1rem);
    column-gap: min(calc(100% / 11), 1rem);
    margin-top: 1rem;
}

.Content__Item-List-Ele {
    grid-column-end: span 12;
    grid-template-columns: minmax(0, 1fr);
    display: grid;
    grid-column-end: span 12;
}

.Content__Item-List-Ele > a {
    border: none;
    padding: 0;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    display: inline-block;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
}

.Content__Item-List-Ele > a:before {
    content: '';
    border: 2px solid var(--color-secondary);
    border-color: var(--color-primary);
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-radius: 4px;
}

.Content__Item-List-Ele-Box {
    border: 1px solid var(--color-secondary);
    border-color: var(--color-secondary-hover);
    padding: 1.5rem;
    border-radius: 4px;
    color: var(--color-text);
    background-color: var(--color-background);
    -webkit-transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
    transition: box-shadow 200ms ease, transform 200ms ease;
    box-shadow: 0px 0px 0 currentColor;
    position: relative;
}

.Content__Item-List-Ele-Box:hover {
    transform: translate(2px, -2px);
    box-shadow: -4px 4px 0 currentColor;
}

.Content__Item-Icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 1rem;
}

.FlexBox__Column-Width > span:first-child {
    font-size: inherit;
    display: inline-block;
    margin: 0;
    font-weight: bold;
    text-align: left;
}

.FlexBox__Column-Width > span:last-child {
    font-size: inherit;
    display: inline-block;
    text-overflow: ellipsis;
    margin: 0;
    text-align: left;
    overflow: hidden;   
}

.SVG__ProgressBar {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.Data__ProgressBar {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 74%;
    box-shadow: 0.5px 0 0 0.5px var(--color-border);
    transition: width 0.5s;
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    color: var(--color-border);
    background-color: #FFD300;
}

.Data__ProgressBar > span {
    font-weight: bold;
    padding: 0.5rem;
    text-align: right;
    width: 100%;
}

