footer {
    border-top: 1px solid var(--color-border);
}

.Footer__Container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1440px;
}

.Footer__Layout-Grid {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    width: 100%;
}

.Footer__End {
    border-top: 1px solid var(--color-border);
    font-size: 0.875rem;
    padding: 1rem 0 0.5rem;
    margin: 0;
}

.Footer__End-List {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 0.5rem;
    padding-left: 0;
}

.Footer__End-Item {
    border: none;
    padding: 0;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    display: inline-block;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
    text-decoration: none;
}

.Footer__End-Item:hover {
    font-weight: 600;
}

.Footer__End-Item::after {
    content: '|';
    margin: 0 0.375rem;
    font-size: 1rem;
}

.Footer__End-MadeWith {
    text-align: center;
}

.Footer__Layout-Grid-Column {
    grid-column-end: span 12;
    grid-template-columns: minmax(0, 1fr);
    display: grid;
    grid-column-end: span 12;
}

.Footer__Layout-Grid-Left {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    width: 100%;
}

.Company {
    grid-column-end: span 12;
    grid-template-columns: minmax(0, 1fr);
    display: grid;
    order: 1;
    grid-template-rows: min-content;
    grid-column-end: span 6;
}

.Resources {
    grid-column-end: span 12;
    grid-template-columns: minmax(0, 1fr);
    display: grid;
    order: 3;
    grid-template-rows: min-content;
    grid-column-end: span 6;
}

.Support {
    display: none;
}

.Community {
}

.Plans {
    grid-column-end: span 12;
    grid-template-columns: minmax(0, 1fr);
    display: grid;
    order: 2;
    grid-template-rows: min-content;
    grid-column-end: span 6;
}

.Footer__Logo {
    grid-column-end: span 12;
    grid-template-columns: minmax(0, 1fr);
    display: grid;
    display: none;
    order: 4;
    margin-top: auto;
    grid-template-rows: min-content;
    grid-column-end: span 4;
}

.Footer__Logo-Box {
    margin-top: auto;
    display: none;
}

.Footer__Logo-Box > img {
    height: 70px;
}

.Footer__Logo-Box > span {
    display: inline-block;
    font-weight: 400 !important;
    line-height: 0.5;
    font-size: 0.5rem;
    margin: 0;
    font-weight: bold;
    margin-left: 1rem;
}

.Footer__H2 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 2.75rem;
    font-weight: 400;
    line-height: 1.5;
    font-size: 0.875rem;
    margin: 0;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.Footer__List-Left {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.Footer__List-Left-Item {
    font-size: 0.875rem;
    margin: 0.5rem 0;
}

.Footer__List-Left-Item-Link {
    border: none;
    padding: 0;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    display: inline-block;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
    text-decoration: none;
    font-size: 16px;
}

.Footer__List-Left-Item-Link:before {
    content: '';
    border: 2px solid var(--color-secondary);
    border-color: var(--color-primary);
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-radius: 4px;
}

.Footer__List-Left-Item-Link:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

.Footer__Social-Media {
    margin-bottom: 0;
    padding-top: 1rem;
    padding-left: 0;
    list-style-type: none;
    display: flex;
}

.Footer__Social-Media-Link {
    border: none;
    padding: 0;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    display: inline-block;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
    margin-right: 0.5rem;
    font-size: 1.25rem;
}

.Footer__Social-Media-Link:before {
    content: '';
    border: 2px solid var(--color-secondary);
    border-color: var(--color-primary);
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-radius: 4px;
}

.Footer__Social-Media-Link:hover {
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: var(--color-primary);
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

.Footer__Layout-Line {
    border-top: 1px solid var(--color-border);
    margin-top: 2rem;
}

.Footer__Layout-Grid-Right {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    width: 100%;
    grid-column-gap: 1.5rem;
    column-gap: min(calc(100% / 11), 1.5rem);
}

.Subjects,
.Languages {
    grid-column-end: span 12;
    grid-template-columns: minmax(0, 1fr);
    display: grid;
    grid-column-end: span 6;
}

.Career {
    grid-column-end: span 12;
    grid-template-columns: minmax(0, 1fr);
    display: grid;
    grid-template-rows: min-content;
    grid-column-end: span 6;
}

.Footer__List-Right {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.Footer__List-Right-Item {
    font-size: 0.875rem;
    margin: 0.5rem 0;
    margin: 0.25rem 0;
}

.Footer__List-Right-Link {
    text-decoration: none;
    border: none; 
    padding: 0;
    font-size: 16px;
    white-space: initial;
    box-shadow: none;
    display: inline-block;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
    white-space: nowrap;
}

.Footer__List-Right-Link:before {
    content: '';
    border: 2px solid var(--color-secondary);
    border-color: var(--color-primary);
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-radius: 4px;
}

.Footer__List-Right-Link:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

.Mobile {
    display: none;
}

.Mobile > div {
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.Mobile__Box {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    width: 50%;
}

.Mobile__Link {
    border: none;
    padding: 0;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    display: inline-block;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
    display: inline-block;
}

.Mobile__Link > img {
    width: 128px;
    height: 85px;
}