.Header__Position {
    position: sticky;
    top: 0;
    z-index: var(--elements-headerZ);
}

.Box__Header-Normal {
    display: none;
    height: var(--headerHeight);
    transition: background-color 150ms ease-in-out, border-bottom-color 150ms ease-in-out;
    border-bottom: 1px solid var(--color-border);
    width: 100%;
    top: 0;
    z-index: 2;
    background-color: var(--color-background);
    border-color: var(--color-background-current);
    background-color: var(--color-background-current);
}

.Box__Header-Animation {
    display: none;
    height: var(--headerHeight);
    transition: background-color 150ms ease-in-out, border-bottom-color 150ms ease-in-out;
    border-bottom: 1px solid var(--color-border);
    width: 100%;
    top: 0px;
    z-index: 2;
    background-color: var(--color-background);
}

.Box__Header-Nav {
    display: flex;
    height: 100%;
    z-index: 14;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1440px;
}

.Nav__List {
    padding: 0;
    margin: 0;
    align-items: stretch;
    display: flex;
    width: 100%;
    list-style: none;
}

.Logo__Header {
    border: none;
    padding: 0.25rem 0px;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    display: inline-block;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
}

.Logo__Header:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
}
    
.Logo__Header-Img {
    height: 50px;
    vertical-align: text-bottom;
}

.Nav__Ele {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    justify-content: center;
    flex-direction: column;
    display: flex;
    position: relative;
}

.Nav__Ele-Link {
    border: none;
    padding: 1rem 0px;
    font-size: inherit;
    box-shadow: none;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    white-space: nowrap;
    align-items: center;
    align-content: center;
    display: flex;
    min-width: 0px;
    text-decoration: none;
}

.Nav__Ele-Link:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
}

.Nav__Ele-Link::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-color: var(--color-primary);
    border-radius: 4px;
}

.Button__Component {
    cursor: pointer;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    color: var(--color-text);
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    background: none;
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    white-space: nowrap;
    border-radius: 4px;
    border-color: transparent;
}

.Button__Component::before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-secondary);
    position: absolute;
    inset: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.Button__Component-Content {
    position: relative;
    display: table;
}

.Avatar__Size {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
}

.Button__Nav {
    cursor: pointer;
    background: none transparent;
    text-decoration: none;
    border: none;
    font-size: inherit;
    box-shadow: none;
    position: relative;
    color: var(--color-text);
    padding: 0.5rem 0px;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    display: flex;
    text-transform: none;
    overflow: visible;
}

.Button__Nav:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
}

.Button__Nav::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-color: var(--color-primary);
    border-radius: 4px;
}

.Button__Nav-Text {
    font-size: inherit;
    display: inline-block;
    margin: 0px;
    font-weight: normal;
    text-align: center;
}

.Button__Nav-Icon {
    width: 12px;
    height: 12px;
    margin-left: 0.3125rem;
    margin-bottom: 0.3125rem;
    transition: transform 0.35s ease-out;
    transform-origin: center 0.3125rem;
}

.Nav__Ele-Button {
    display: inline-flex;
    position: relative;
}

.Nav__Ele-Button-Container {
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
}

.Nav__Ele-Button-Container:before {
    content: '';
    border: 2px solid var(--color-secondary);
    border-color: var(--color-primary);
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: 0;
    opacity: 0;
    border-radius: 4px;
}

.Nav__Ele-Button-Component {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
    box-shadow: none;
    color: var(--color-text);
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    border: 2px solid var(--color-secondary);
    border-color: transparent;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    border-color: transparent;
    color: var(--color-text);
}

.Nav__Ele-Button-Component:before {
    content: "";
    -webkit-transition: opacity 150ms linear;
    transition: opacity 150ms linear;
    border: 2px solid var(--color-secondary);
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.Nav__Ele-Button-Component:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    color: var( --color-primary);
    background-color: var(--color-background-hover);
}

.Button__Start {
    cursor: pointer;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    color: var(--color-background);
    background: var(--color-primary);
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    border-color: transparent;
    white-space: nowrap;
    border-radius: 4px;
}

.Button__Start::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: 0;
    opacity: 0;
    transition: opacity 150ms linear;
    border: 2px solid var(--color-secondary);
    border-radius: 8px;
    border-color: var(--color-primary);
}

.Button__Star:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    color: var(--color-background);
    background-color: #5533FF;
}





/* Sub Menu */
.Catalog__Menu-Container {
    border-style: solid;
    border-color: var(--color-text);
    overflow: hidden;
    position: absolute;
    background-color: var(--color-background);
}

.Catalog__Menu-Layout {
    grid-template-columns: repeat(12, minmax(0px, 1fr));
    display: grid;
    width: 100%;
    padding: 0px;
}

.Catalog__Menu-Item {
    grid-template-columns: minmax(0px, 1fr);
    display: grid;
    grid-column-end: span 12;
    border-color: var(--color-text);
}

.Catalog__Menu-Item-Layout {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    width: 100%;
}

.Catalog__Menu-Item-Layout-Column-1 {
    grid-column-end: span 12;
    grid-template-columns: minmax(0px, 1fr);
    display: grid;
    grid-row-end: span 2;
}

.Catalog__Menu-Item-1 {
    grid-column-end: span 12;
    grid-template-columns: minmax(0px, 1fr);
    display: grid;
    grid-row-end: span 2;
    color: var(--color-white);
    background-color: var(--color-text);
}

.Catalog__Menu-Item-1-Container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.Button__Explore {
    cursor: pointer;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    color: var(--color-text);
    text-align: center;
    margin-top: 1rem;
    max-width: 170px;
    background: #FFD300;
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    border-color: transparent;
    white-space: nowrap;
    border-radius: 4px;
}

.Button__Explore::before {
    border-color: #FFD300;
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-white);
    position: absolute;
    inset: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.Button__Explore:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    background-color: #CCA900;
}

.Catalog__Menu-Item-Header {
    line-height: 1.3;
    font-size: 1.25rem;
    margin: 0px 0px 0.5rem;
    font-weight: 700;
}

.Catalog__Menu-Item-Text {
    display: inline-block;
    margin: 0px;
    font-size: 0.875rem;
}

.Catalog__Menu-Item-2 {
    grid-column-end: span 12;
    grid-template-columns: minmax(0px, 1fr);
    display: grid;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

.Catalog__Menu-Item-2-List {
    display: grid;
    padding-left: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(18, 1fr);
    grid-auto-flow: column;
    list-style-type: none;
}

.Catalog__Menu-Item-2-List-Course {
    width: 12rem;
    min-height: 32px;
}

.Catalog__Menu-Item-2-List-Link {
    border: none;
    padding: 0;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    display: inline-block;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
    text-decoration: none;
}

.Catalog__Menu-Item-2-List-Link:before {
    content: '';
    border: 2px solid var(--color-secondary);
    border-color: var(--color-primary);
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-radius: 4px;
}

.Catalog__Menu-Item-2-List-Link:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
}

.Catalog__Menu-Item-2-List-LinkNew {
    border: none;
    padding: 0px;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    text-decoration: none;
}

.Catalog__Menu-Item-2-List-LinkNew::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-color: var(--color-primary);
    border-radius: 4px;
}

.Catalog__Menu-Item-2-List-LinkNew:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
}

.Catalog__Menu-Item-3 {
    display: grid;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    padding: 1rem;
    grid-column-end: span 12;
    background-color: #FFFAE5;
}

.Catalog__Menu-Item-3-Link {
    border: none;
    padding: 0px;
    white-space: initial;
    box-shadow: none;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
    font-weight: 700;
    font-size: 1rem;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.Catalog__Menu-Item-3-Link::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-color: var(--color-primary);
    border-radius: 4px;
}

.Catalog__Menu-Item-3-Link:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
}

.Catalog__Menu-Item-3-Link-Content {
    width: 100%;
    align-items: center;
}

.Catalog__Menu-Item-3-New {
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-family: Suisse, Apercu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    display: flex;
    width: min-content;
    color: rgba(16, 22, 47, 0.75);
    background-color: transparent;
    font-size: 10px;
    height: 1rem;
    white-space: nowrap;
    border: solid 1px;
    border-radius: 16px;
    border-color: var(--color-black);
}

.Catalog__Menu-Career-Layout {
    grid-column-end: span 12;
    grid-template-columns: minmax(0px, 1fr);
    display: grid;
}

.Catalog__Menu-Career-Container {
    border-top: solid 1px;
    border-color: var(--color-white);
    padding: 1rem;
    color: var(--color-white);
    background-color: var(--color-text);
}

.Catalog__Menu-Career-List-Layout {
    grid-column-end: span 12;
    grid-template-columns: minmax(0px, 1fr);
    display: grid;
}

.Catalog__Menu-Career-List-Item {
    grid-template-columns: repeat(12, minmax(0px, 1fr));
    display: grid;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

.Catalog__Menu-Career-List-Content {
    grid-template-columns: minmax(0px, 1fr);
    display: grid;
    grid-column-end: span 12;
    padding-bottom: 1rem;
}

.Catalog__Menu-Career-List-Link {
    border: none;
    padding: 0;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    display: inline-block;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
    text-decoration: none;
}

.Catalog__Menu-Career-List-Link:before {
    content: '';
    border: 2px solid var(--color-secondary);
    border-color: var(--color-primary);
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-radius: 4px;
}

.Catalog__Menu-Career-List-Link:hover {
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: var(--color-primary);
}