.Header__Position {
    position: sticky;
    top: 0;
    z-index: var(--elements-headerZ);
}

.Box__Header-Normal {
    display: none;
    height: var(--headerHeight);
    transition: background-color 150ms ease-in-out, border-bottom-color 150ms ease-in-out;
    border-bottom: 1px solid var(--color-border);
    width: 100%;
    top: 0;
    z-index: 2;
    border-color: var(--color-background-current);
    background-color: var(--color-background-current);
}

.Box__Header-Animation {
    display: none;
    height: var(--headerHeight);
    transition: background-color 150ms ease-in-out, border-bottom-color 150ms ease-in-out;
    border-bottom: 1px solid var(--color-border);
    width: 100%;
    top: 0px;
    z-index: 2;
    background-color: var(--color-background);
}

.Box__Header-Nav {
    display: flex;
    height: 100%;
    z-index: 14;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1440px;
}

.Nav__List {
    padding: 0;
    margin: 0;
    align-items: stretch;
    display: flex;
    width: 100%;
    list-style: none;
}

.Logo__Header {
    border: none;
    padding: 0.25rem 0px;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    display: inline-block;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
}

.Logo__Header:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
}
    
.Logo__Header-Img {
    height: 50px;
    vertical-align: text-bottom;
}

.Logo__Header-Img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

.Nav__Ele {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    justify-content: center;
    flex-direction: column;
    display: flex;
    position: relative;
}

.Nav__Ele-Link {
    border: none;
    padding: 1rem 0px;
    font-size: 0.9375em;
    box-shadow: none;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    white-space: nowrap;
    align-items: center;
    align-content: center;
    display: flex;
    min-width: 0px;
    text-decoration: none;
}

.Nav__Ele-Link:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
    transform: scale(1.1);
    transition: transform 150ms ease-in-out;
}

.Nav__Ele-Link::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-color: var(--color-primary);
    border-radius: 4px;
}

.Button__Component {
    cursor: pointer;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    color: var(--color-text);
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    background: none;
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    white-space: nowrap;
    border-radius: 4px;
    border-color: transparent;
}

.Button__Component:hover {
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

.Button__Component::before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-border);
    position: absolute;
    inset: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.Button__Component-Info {
    border-style: solid;
    border-color: var(--color-text);
    overflow: hidden;
    position: absolute;
    background-color: var(--color-background);
}

.Component__Info-Container {
    margin: 0px;
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1440px;
}

.Button__Component-Content {
    position: relative;
    display: table;
}

.Avatar__Size {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
}

.Avatar__Size-SubMenu {
    width: 24px;
    height: 24px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
}

.Button__Nav {
    cursor: pointer;
    background: none transparent;
    text-decoration: none;
    border: none;
    font-size: inherit;
    box-shadow: none;
    position: relative;
    color: var(--color-text);
    padding: 0.5rem 0px;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    display: flex;
    text-transform: none;
    overflow: visible;
}

.Button__Nav:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

.Button__Nav::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-color: var(--color-primary);
    border-radius: 4px;
}

.Button__Nav-Text {
    font-size: 0.9375em;
    display: inline-block;
    margin: 0px;
    font-weight: normal;
    text-align: center;
}

.Button__Nav-Icon {
    width: 12px;
    height: 12px;
    margin-left: 0.3125rem;
    margin-bottom: 0.3125rem;
    transition: transform 0.35s ease-out;
    transform-origin: center 0.3125rem;
}

.Nav__Ele-Button {
    display: inline-flex;
    position: relative;
}

.Nav__Ele-Button-Container {
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
}

.Nav__Ele-Button-Container:before {
    content: '';
    border: 2px solid var(--color-border);
    border-color: var(--color-primary);
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: 0;
    opacity: 0;
    border-radius: 4px;
}

.Nav__Ele-Button-Component {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
    box-shadow: none;
    color: var(--color-text);
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    border: 2px solid var(--color-border);
    border-color: transparent;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    border-color: transparent;
    color: var(--color-text);
}

.Nav__Ele-Button-Component:before {
    content: "";
    -webkit-transition: opacity 150ms linear;
    transition: opacity 150ms linear;
    border: 2px solid var(--color-border);
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.Nav__Ele-Button-Component:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    color: var( --color-primary);
    background-color: var(--color-background-hover);
}

.Button__Start {
    cursor: pointer;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    color: var(--color-background);
    background: var(--color-primary);
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    border-color: transparent;
    white-space: nowrap;
    border-radius: 4px;
}

.Button__Star:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    color: var(--color-background);
    background-color: #5533FF;
}

.Button__Start::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: 0;
    opacity: 0;
    transition: opacity 150ms linear;
    border: 2px solid var(--color-border);
    border-radius: 8px;
    border-color: var(--color-primary);
}

/* Sub Menu */
.Catalog__Menu-Container {
    border-style: solid;
    border-color: var(--color-text);
    overflow: hidden;
    position: absolute;
    background-color: var(--color-background);
}

.Catalog__Menu-Layout {
    grid-template-columns: repeat(12, minmax(0px, 1fr));
    display: grid;
    width: 100%;
    padding: 0px;
}

.Catalog__Menu-Item {
    grid-template-columns: minmax(0px, 1fr);
    display: grid;
    grid-column-end: span 12;
    border-color: var(--color-text);
}

.Catalog__Menu-Item-Layout {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    width: 100%;
}

.Catalog__Menu-Item-Layout-Column-1 {
    grid-column-end: span 12;
    grid-template-columns: minmax(0px, 1fr);
    display: grid;
    grid-row-end: span 2;
}

.Catalog__Menu-Item-1 {
    grid-column-end: span 12;
    grid-template-columns: minmax(0px, 1fr);
    display: grid;
    grid-row-end: span 2;
    color: var(--color-white);
    background-color: var(--color-text);
}

.Catalog__Menu-Item-1-Container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.Button__Explore {
    cursor: pointer;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    color: var(--color-text);
    text-align: center;
    margin-top: 1rem;
    max-width: 170px;
    background: #FFD300;
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    border-color: transparent;
    white-space: nowrap;
    border-radius: 4px;
}

.Button__Explore::before {
    border-color: #FFD300;
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-white);
    position: absolute;
    inset: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.Button__Explore:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    background-color: #CCA900;
}

.Catalog__Menu-Item-Header {
    line-height: 1.3;
    font-size: 1.25rem;
    margin: 0px 0px 0.5rem;
    font-weight: 700;
}

.Catalog__Menu-Item-Text {
    display: inline-block;
    margin: 0px;
    font-size: 0.875rem;
}

.Catalog__Menu-Item-2 {
    grid-column-end: span 12;
    grid-template-columns: minmax(0px, 1fr);
    display: grid;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

.Catalog__Menu-Item-2-List {
    display: grid;
    padding-left: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(18, 1fr);
    grid-auto-flow: column;
    list-style-type: none;
}

.Resources__Menu-Item-2-List {
    display: grid;
    padding-left: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(18, 1fr);
    grid-auto-flow: column;
    list-style-type: none;
}

.Catalog__Menu-Item-2-List-Course {
    width: 12rem;
    min-height: 32px;
}

.Resources__Menu-Item-2-List-Course {
    width: 12rem;
    min-height: 32px;
}

.Catalog__Menu-Item-2-List-Link {
    border: none;
    padding: 0;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    display: inline-block;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
    text-decoration: none;
}

.Catalog__Menu-Item-2-List-Link:before {
    content: '';
    border: 2px solid var(--color-border);
    border-color: var(--color-primary);
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-radius: 4px;
}

.Catalog__Menu-Item-2-List-Link:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
    font-weight: 600;
}

.Catalog__Menu-Item-2-List-LinkNew {
    border: none;
    padding: 0px;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
    align-items: center;
    align-content: center;
    display: flex;
    text-decoration: none;
}

.Catalog__Menu-Item-2-List-LinkNew::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-color: var(--color-primary);
    border-radius: 4px;
}

.Catalog__Menu-Item-2-List-LinkNew:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 600;
}

.Catalog__Menu-Item-3 {
    display: grid;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    padding: 1rem;
    grid-column-end: span 12;
    background-color: #FFFAE5;
}

.Catalog__Menu-Item-3-Link {
    border: none;
    padding: 0px;
    white-space: initial;
    box-shadow: none;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
    font-weight: 700;
    font-size: 1rem;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.Catalog__Menu-Item-3-Link::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-color: var(--color-primary);
    border-radius: 4px;
}

.Catalog__Menu-Item-3-Link:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
}

.Catalog__Menu-Item-3-Link-Content {
    width: 100%;
    align-items: center;
}

.Catalog__Menu-Item-3-New {
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-family: Suisse, Apercu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    display: flex;
    width: min-content;
    color: rgba(16, 22, 47, 0.75);
    background-color: transparent;
    font-size: 10px;
    height: 1rem;
    white-space: nowrap;
    border: solid 1px;
    border-radius: 16px;
    border-color: var(--color-black);
}

.Catalog__Menu-Career-Layout {
    grid-column-end: span 12;
    grid-template-columns: minmax(0px, 1fr);
    display: grid;
}

.Catalog__Menu-Career-Container {
    border-top: solid 1px;
    border-color: var(--color-white);
    padding: 1rem;
    color: var(--color-white);
    background-color: var(--color-text);
}

.Catalog__Menu-Career-List-Layout {
    grid-column-end: span 12;
    grid-template-columns: minmax(0px, 1fr);
    display: grid;
}

.Catalog__Menu-Career-List-Item {
    grid-template-columns: repeat(12, minmax(0px, 1fr));
    display: grid;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

.Catalog__Menu-Career-List-Content {
    grid-template-columns: minmax(0px, 1fr);
    display: grid;
    grid-column-end: span 12;
    padding-bottom: 1rem;
}

.Catalog__Menu-Career-List-Link {
    border: none;
    padding: 0;
    font-size: inherit;
    white-space: initial;
    box-shadow: none;
    display: inline-block;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
    text-decoration: none;
}

.Catalog__Menu-Career-List-Link:before {
    content: '';
    border: 2px solid var(--color-border);
    border-color: var(--color-primary);
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-radius: 4px;
}

.Catalog__Menu-Career-List-Link:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
    transition: transform 200ms ease-in-out;
    font-weight: 600;
}

.Button__Resources {
    cursor: pointer;
    box-shadow: none;
    justify-content: left;
    align-items: center;
    display: inline-flex;
    position: relative;
    font-weight: 700;
    padding-left: 0.5rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 0.8rem;
    min-width: 40px;
    height: 40px;
    color: #FFD300;
    text-align: left;
    max-width: 170px;
    background: transparent;
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    border-color: transparent;
    white-space: nowrap;
    border-radius: 4px;
}

.Button__Resources::before {
    border-color: #FFD300;
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-white);
    position: absolute;
    inset: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.Button__Resources:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    background-color: #FFD300;
    color: var(--color-black);
}

.Resources__Menu-Item-Span {
    display: inline-block;
    margin: 0px;
    font-size: 0.875rem;
    padding-bottom: 1.5rem;
    padding-right: 2.5rem;
}

.Resources__Menu-Item-Heading-3 {
    line-height: 1.3;
    margin: 0px;
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 0.25rem;
}

.Button__Community-Container {
    border-style: solid;
    border-color: var(--color-text);
    overflow: hidden;
    position: absolute;
    background-color: var(--color-background);
}

.Button__Community-Container > div {
    margin: 0px;
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
}

.Button__Community-List {
    list-style: none;
    padding: 0.75rem 0px;
    position: absolute;
}

.Button__Community-Link {
    border: none;
    padding: 1rem 0px;
    font-size: inherit;
    box-shadow: none;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    white-space: nowrap;
    align-items: center;
    align-content: center;
    display: flex;
    min-width: 0px;
    text-decoration: none;
}

.Button__Community-Link::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-color: var(--color-primary);
    border-radius: 4px;
}

.Button__Community-Link:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 700;
}

/* Drop down Search */
.Search__Container {
    border-width: 2px 0px 1px;
    border-style: solid;
    overflow: auto;
    width: 100%;
    max-height: calc(-63px + 100vh);
    background-color: var(--color-background);
    border-top-color: #EEEEEE;
    border-bottom-color: var(--color-text);
    position: absolute;
}

.Search__Question-Header {
    margin: 0px auto;
    height: 100%;
    max-width: 1440px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    display: flex;
    width: 100%;
}

.Search__Question-Layout {
    display: flex;
    border-color: #9E9E9E;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100%;
    align-items: baseline;
    line-height: 46px;
}

.Size__MagnifyingGlass {
    width: 20px;
    height: 20px;
}

.Search__Question-Layout input {
    border: none;
    background: none;
    width: 100%;
    color: var(--color-text);
    font-weight: bold;
    font-size: 1.25rem;
    outline: none;
}

.Clear__Search-Container {
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
}

.Clear__Search-Container:before {
    content: '';
    border: 2px solid var(--color-border);
    border-color: var(--color-primary);
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: 0;
    opacity: 0;
    border-radius: 4px;
}

.Clear__Search-Button {
    cursor: pointer;
    font-size: inherit;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    width: 32px;
    height: 32px;
    color: var(--color-border);
    background: none;
    padding: 0px;
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    white-space: nowrap;
    border-radius: 4px;
    border-color: transparent;
}

.Clear__Search-Button::before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-border);
    position: absolute;
    inset: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.Search__Question-Content {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
}

.Search__Question-List {
    display: inline-block;
    width: 100%;
    list-style: none;
    padding: 0px;
    min-width: 192px;
    border-radius: 2px;
    background-color: var(--color-background);
    position: relative;
    z-index: 1;
    border: none;
    margin: 0px;
}

.Search__Question-H2 {
    font-weight: 700;
    line-height: 1.3;
    font-size: 1.25rem;
    margin: 0px 0px 0.75rem;
}

.Search__Question-List-Layout {
    display: flex;
    padding: 0px;
    flex-direction: column;
    list-style: none;
}

.Search__Question-Link {
    border: none;
    background: none;
    text-decoration: none;
    box-shadow: none;
    color: var(--color-text);
    cursor: pointer;
    transition: color 150ms linear, background-color 150ms linear, border-color 150ms linear;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    position: relative;
    font-size: 1rem;
    min-height: 48px;
    z-index: 1;
    padding: 8px 0px;
}

.Search__Question-Link::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    z-index: -1;
    opacity: 0;
    border-color: var(--color-primary);
    border-radius: 4px;
}

.Search__Question-Link:hover {
    background-color: rgba(16, 22, 47, 0.12);
}

.Search__Question-Link > img {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    overflow: visible !important;
}

.Search__Question-Link > span {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    margin: 0px 0px 0px 0.75rem;
}

.Search__Question-Label {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-family: Suisse, Apercu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    display: flex;
    width: min-content;
    color: rgba(16, 22, 47, 0.75);
    background-color: transparent;
    font-size: 10px;
    height: 1rem;
    white-space: nowrap;
    border-radius: 16px;
    border-color: rgba(16, 22, 47, 0.75);
    border: solid 1px;
}

.Search__Question-Footer {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border-color: rgba(16, 22, 47, 0.28);
    border-top: 1px solid #9E9E9E;
}

.Search__Question-Footer-Left {
    display: flex;
    flex-direction: column;
}

.Search__Question-Footer-Left > span {
    display: inline-block;
    margin: 0px 10px 0px 0px;
    font-size: 1rem;
}

.Search__Question-Footer-Left > a {
    border: none;
    padding: 0px;
    font-size: inherit;
    white-space: nowrap;
    box-shadow: none;
    display: inline-block;
    position: relative;
    color: var(--color-primary);
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
}

.Search__Question-Footer-Left > a::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-color: var(--color-primary);
    border-radius: 4px;
}

.Search__Question-Footer-Left > a:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;

}

.Search__Question-Footer-Left-Content {
    display: flex;
    gap: 10px;
    overflow: visible;
    align-items: center;
}

.Search__Question-Footer-Left-Content > span {
    display: inline-block;
    margin: 0px;
    font-size: 0.875rem;
}

.Search__Question-Footer-Right {
    cursor: pointer;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    color: var(--color-primary);
    font-weight: 700;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 0.875rem;
    min-width: 32px;
    height: 32px;
    background: none;
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    white-space: nowrap;
    border-radius: 4px;
    border-color: transparent;
}

.Search__Question-Footer-Right::before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-border);
    position: absolute;
    inset: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.Search__Question-Footer-Right:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    color: var(--color-primary);
    background-color: var(--color-background-hover);
}

.Notifications__Position {
    position: fixed;
    display: flex;
    transform: translateY(0%) translateX(-100%);
}

.Notifications__Style {
    box-shadow: none;
    text-align: center;
    z-index: 1;
    background-color: var(--color-background);
    border-color: var(--color-border);
    border: 1px solid;
    margin: auto;
    padding: 0.25rem;
    border-radius: 2px;
}

.Notifications__Box {
    text-align: left;
    display: flex;
    width: 400px;
}

.Notifications__Container {
    background-color: var(--color-background);
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    width: 100%;
}

.Notifications__Container-Header {
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.Notifications__Container-Header > h1 {
    font-weight: 700;
    line-height: 1.2;
    margin: 0px;
    font-size: 1.375rem;
}

.Notifications__Button-ClearAll {
    cursor: pointer;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    color: var(--color-primary);
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    background: none;
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    white-space: nowrap;
    border-radius: 4px;
    border-color: transparent;
}

.Notifications__Button-ClearAll::before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-secondary);
    position: absolute;
    inset: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.Notifications__Button-ClearAll:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    color: var(--color-primary);
    background-color: var(--color-background-hover);
}

.Notifications__Content {
    color: var(--color-text);
    background-color: var(--color-background);
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.Notifications__Content-Item {
    display: flex;
    padding: 1.5rem 2rem;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
}

.Notifications__Content-Link {
    text-decoration: none;
    display: block;
    z-index: 1;
}

.Notifications__Content-Link::before,
.Notifications__Content-Link::after {
    top: -1px;
    left: 0px;
    z-index: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% + 2px);
    transition: background 250ms;
}

.Notifications__Content-Link > div {
    display: flex;
    color: var(--color-text);
    position: relative;
    z-index: 1;
}

.Notifications__Content-SubTitle {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    font-size: 0.875rem;
    margin: 0px 0px 0px 0.25rem;
    color: #8c7f7f;
}

.Notifications__Content-Button-Close {
    cursor: pointer;
    font-size: inherit;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    width: 32px;
    height: 32px;
    color: var(--color-secondary);
    background: none;
    padding: 0px;
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    white-space: nowrap;
    border-radius: 4px;
    border-color: transparent;
}

.Notifications__Content-Button-Close:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    color: var(--color-secondary);
    background-color: var(--color-background-hover);
}

.Notifications__Content-Button-Close::before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-secondary);
    position: absolute;
    inset: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.Logout__Line::before {
    content: "";
    margin: 0.5rem 1.5rem;
    display: block;
    width: calc(100% - 3rem);
    height: 1px;
    background-color: #9E9E9E;
}

.Box__Header-Small {
    display: block;
    height: var(--headerHeight);
    transition: background-color 150ms ease-in-out, border-bottom-color 150ms ease-in-out;
    border-bottom: 1px solid var(--color-secondary);
    width: 100%;
    top: 0;
    z-index: 2;
    background-color: var(--color-background);
    border-color: var(--color-background-current);
    background-color: var(--color-background-current);
}

.Nav__Ele-Small {
    margin-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.Nav__Ele-Small-Magnifying,
.Nav__Ele-Small-SubMenu {
    margin-left: auto;
    justify-content: center;
    flex-direction: column;
    display: flex;
    position: relative;
}

.Nav__Ele-Small-Menu {
    margin-left: 0px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    position: relative;
}

.Sub__Menu {
    height: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
    display: none;
}

.Sub__Menu__FlexBox-OverlayContainer {
    justify-content: center;
    align-items: center;
    inset: 0px;
    display: block;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 1;
    background-color: var(--color-background);
}

.Sub__Menu-Nav {
    display: block;
    height: var(--headerHeight);
    transition: background-color 150ms ease-in-out, border-bottom-color 150ms ease-in-out;
    border-bottom: 1px solid var(--color-secondary);
    width: 100%;
    top: 0;
    z-index: 2;
    background-color: var(--color-background);
    border-color: var(--color-background-current);
    background-color: var(--color-background-current);
}

.Sub__Menu-List {
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    width: 100%;
    list-style: none;
}

.SubMenu__ContentContainer {
    margin: 0px;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    padding: 0px;
    flex-direction: column;
    display: flex;
}

.SubMenu__ContentContainer-Box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1440px;
}

.SubMenu__List-Item {
    justify-content: center;
    flex-direction: column;
    display: flex;
    position: relative;
}

.Sub__Menu__List-Link {
    border: none;
    padding: 1rem 0px;
    font-size: inherit;
    box-shadow: none;
    position: relative;
    color: var(--color-text);
    background-color: transparent;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    white-space: nowrap;
    align-items: center;
    align-content: center;
    display: flex;
    min-width: 0px;
    text-decoration: none;
}

.Sub__Menu__List-Link::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: 0;
    opacity: 0;
    border-color: var(--color-primary);
    border-radius: 4px;
}

.Sub__Menu__List-Link:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
}

.Sub__Menu__Start {
    cursor: pointer;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    min-width: 40px;
    height: 40px;
    color: var(--color-background);
    margin-top: 1.5rem;
    background: var(--color-primary);
    text-decoration: none;
    transition: border-color 150ms ease-in, color 150ms ease-in, background-color 150ms ease-in, box-shadow 150ms ease-in;
    border-color: transparent;
    white-space: nowrap;
    border-radius: 4px;
}

.Sub__Menu__Start::before {
    content: "";
    transition: opacity 150ms linear;
    border: 2px solid var(--color-secondary);
    position: absolute;
    inset: -5px;
    z-index: 0;
    opacity: 0;
    border-radius: 8px;
}

.Sub__Menu__Start:hover {
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    color: var(--color-background);
    background-color: var(--color-primary-hover);
}